
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-1-sbado-6-VYF {
  padding-top: 1.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
  box-sizing: border-box;

  .auto-group-bqxb-Dj9 {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 2.6rem 0.1rem 2.7rem;
    width: calc(100% - 5.3rem);
    display: flex;

    .back-xRq {
      margin: 1.034rem 1.5rem 0rem 0rem;
      width: 1.3rem;
      height: 2.263rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .programao-4Us {
      line-height: 1.2102272511;
      color: #f7962d;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 29.4rem;
      display: flex;
      font-size: 2.4rem;
      font-weight: 400;
    }
  }
  .line-1-vmy {
    height: 0.3rem;
    background-color: #f7962d;
    flex-shrink: 0;
    width: 100%;
  }
  .auto-group-tvij-gm9 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 2.6rem 1.7rem 2.7rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .group-1-PQf {
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .relogio-1-YYT {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-1-g8s {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
      }
    }
    .group-2-Q4s {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 1.7rem;

      .silhueta-do-grupo-de-usuarios-1-9HM {
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .at-2-sz3 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
      }
    }
    .group-3-diK {
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;

      .pessoa-1-zYs {
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .at-3-jmM {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
      }
    }
    .group-4-sMm {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 100%;

      .pessoa-1-1Ty {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-wcX {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .group-5-g4K {
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-e19 {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
      }
      .at-3-PjR {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
      }
    }
    .group-6-joH {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 2.5rem;

      .pessoa-1-tRH {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-33H {
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
      }
    }
    .group-7-zDR {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 2.975rem 3.8rem 0rem;
      width: calc(100% - 2.9754rem);

      .pessoa-1-8aX {
        flex-shrink: 0;
        margin-right: 1.2177rem;
        width: 1.7823rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .at-3-rmR {
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 26.2246rem;
      }
    }
    .at-17-yb9 {
      width: 100%;
      display: flex;
      font-family: Inter, 'Source Sans Pro';
      margin-bottom: 1.7rem;
      cursor: pointer;
      align-items: center;
      line-height: 1.2102272851;
      color: #ffffff;
      white-space: nowrap;
      background-color: #f7962d;
      border-radius: 1.9rem;
      flex-shrink: 0;
      height: 2.5rem;
      font-size: 1.4rem;
      justify-content: center;
      font-weight: 400;
    }
    .at-18-b6j {
      width: 100%;
      cursor: pointer;
      background-color: #f7962d;
      border-radius: 1.9rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.6rem 0.4rem 0.5rem 1.6rem;

      .problemas-tipicos-que-devem-ser-levados-aos-coordenadores-na-mesa-de-apoio-WzP {
        max-width: 30.2rem;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
}
