
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-4-tera-1-Pcf {
  padding-top: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-qkyo-grf {
    margin: 0rem 2.6rem 1.5rem 2.7rem;
    width: calc(100% - 5.3rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .back-pT5 {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.5rem 0.056rem 0rem;
      width: 1.3rem;
      height: 2.0441rem;
      cursor: pointer;
      object-fit: contain;
    }
    .programao-i2f {
      display: flex;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2102272511;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .line-1-1nT {
    flex-shrink: 0;
    width: 100%;
    height: 0.3rem;
    background-color: #f7962d;
  }
  .auto-group-qfeb-M5d {
    box-sizing: border-box;
    padding: 1.2rem 2.6rem 4.9rem 2.7rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .at-0-FRu {
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-bottom: 1.5rem;
      width: 100%;
      height: 4.7rem;
      cursor: pointer;
      position: relative;
      background-color: #f7962d;

      .at-1-Cc3 {
        color: #ffffff;
        height: 3.4rem;
        left: 1.4rem;
        top: 0.6rem;
        align-items: center;
        font-size: 1.4rem;
        line-height: 1.2102272851;
        font-family: Inter, 'Source Sans Pro';
        width: 30.8rem;
        position: absolute;
        display: flex;
        justify-content: center;
        font-weight: 400;
      }
      .vector-hoh {
        width: 1.3rem;
        height: 2.0441rem;
        position: absolute;
        left: 29.3rem;
        top: 1.3rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .at-1-ptK {
      background-color: #f7962d;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      width: 100%;
      height: 4.7rem;
      cursor: pointer;
      position: relative;

      .at-1-n4T {
        height: 3.4rem;
        position: absolute;
        left: 1.4rem;
        justify-content: center;
        font-size: 1.4rem;
        font-family: Inter, 'Source Sans Pro';
        width: 30.8rem;
        top: 0.6rem;
        display: flex;
        align-items: center;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
      }
      .vector-Uhy {
        height: 2.0441rem;
        position: absolute;
        left: 29.3rem;
        top: 1.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.3rem;
      }
    }
    .at-2-cJP {
      flex-shrink: 0;
      margin-bottom: 1.3rem;
      width: 100%;
      height: 4.7rem;
      cursor: pointer;
      position: relative;
      background-color: #f7962d;
      border-radius: 1.5rem;

      .at-1-A51 {
        display: flex;
        align-items: center;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        position: absolute;
        top: 0.6rem;
        left: 1.4rem;
        justify-content: center;
        font-size: 1.4rem;
        font-family: Inter, 'Source Sans Pro';
        width: 30.8rem;
        height: 3.4rem;
      }
      .vector-H9d {
        vertical-align: top;
        width: 1.3rem;
        height: 2.0441rem;
        position: absolute;
        left: 29.3rem;
        top: 1.3rem;
        object-fit: contain;
      }
    }
    .at-3-Bko {
      flex-shrink: 0;
      margin-bottom: 1.5rem;
      box-sizing: border-box;
      padding: 0.6rem 0rem 0.7rem 1.4rem;
      width: 100%;
      background-color: #f7962d;
      border-radius: 1.5rem;

      .at-1-Uju {
        font-size: 1.4rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        font-weight: 400;
        line-height: 1.2102272851;
        max-width: 30.8rem;
        display: flex;
        align-items: center;
      }
    }
    .at-4-jQw {
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-bottom: 1.5rem;
      width: 100%;
      height: 4.7rem;
      cursor: pointer;
      position: relative;
      background-color: #f7962d;

      .at-1-HST {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        height: 3.4rem;
        position: absolute;
        left: 1.4rem;
        top: 0.6rem;
        display: flex;
        width: 30.8rem;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .vector-PVV {
        vertical-align: top;
        width: 1.3rem;
        height: 2.0441rem;
        position: absolute;
        left: 29.3rem;
        top: 1.3rem;
        object-fit: contain;
      }
    }
    .auto-group-dch1-Ke3 {
      flex-shrink: 0;
      margin-bottom: 1.5rem;
      width: 100%;
      height: 23.3rem;
      position: relative;

      .at-5-UG3 {
        background-color: #f7962d;
        border-radius: 1.5rem;
        width: 32.2rem;
        height: 4.7rem;
        position: absolute;
        left: 0;
        top: 0;

        .at-1-1Fy {
          align-items: center;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2102272851;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          justify-content: center;
          width: 29.2rem;
          height: 3.4rem;
          position: absolute;
          left: 2.2rem;
          top: 0.6rem;
          display: flex;
        }
        .vector-KnT {
          object-fit: contain;
          vertical-align: top;
          width: 1.3rem;
          height: 2.0441rem;
          position: absolute;
          left: 29.3rem;
          top: 1.3rem;
        }
      }
      .at-6-eZq {
        position: absolute;
        left: 0;
        top: 6.1rem;
        width: 32.2rem;
        height: 4.8rem;

        .rectangle-1-ztb {
          position: absolute;
          left: 0;
          top: 0.1rem;
          background-color: #f7962d;
          border-radius: 1.5rem;
          width: 32.2rem;
          height: 4.7rem;
        }
        .at-1-ho1 {
          justify-content: center;
          font-size: 1.4rem;
          font-weight: 400;
          left: 2.6rem;
          top: 0;
          display: flex;
          align-items: center;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          width: 27.1rem;
          height: 4.8rem;
          position: absolute;
          line-height: 1.2102272851;
        }
        .vector-b7h {
          height: 2.0441rem;
          position: absolute;
          left: 29.3rem;
          top: 1.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.3rem;
        }
      }
      .at-7-uPH {
        width: 32.2rem;
        height: 4.9rem;
        position: absolute;
        left: 0;
        top: 12.2rem;

        .rectangle-1-erf {
          left: 0;
          top: 0.2rem;
          background-color: #f7962d;
          border-radius: 1.5rem;
          width: 32.2rem;
          height: 4.7rem;
          position: absolute;
        }
        .at-1-B5u {
          font-family: Inter, 'Source Sans Pro';
          height: 4.9rem;
          position: absolute;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.4rem;
          font-weight: 400;
          width: 30rem;
          left: 1.1rem;
          line-height: 1.2102272851;
          color: #ffffff;
        }
        .vector-5SB {
          vertical-align: top;
          width: 1.3rem;
          height: 2.0441rem;
          position: absolute;
          left: 29.3rem;
          top: 1.5rem;
          object-fit: contain;
        }
      }
      .at-8-1qd {
        position: absolute;
        left: 0;
        top: 18.6rem;
        background-color: #f7962d;
        border-radius: 1.5rem;
        width: 32.2rem;
        height: 4.7rem;

        .at-1-kHR {
          color: #ffffff;
          height: 3.4rem;
          position: absolute;
          display: flex;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2102272851;
          width: 28.3rem;
          left: 2.7rem;
          top: 0.6rem;
          align-items: center;
          justify-content: center;
          font-family: Inter, 'Source Sans Pro';
        }
        .vector-fvB {
          width: 1.3rem;
          height: 2.0441rem;
          position: absolute;
          left: 29.3rem;
          top: 1.3rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .rectangle-2-omV {
        height: 23.3rem;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        width: 32.2rem;
      }
    }
    .at-9-kgj {
      width: 100%;
      background-color: #f7962d;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-bottom: 1.5rem;
      box-sizing: border-box;
      padding: 0.6rem 0rem 0.7rem 1.4rem;

      .at-1-4xK {
        justify-content: center;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        max-width: 30.8rem;
        display: flex;
        font-weight: 400;
        line-height: 1.2102272851;
        align-items: center;
        font-size: 1.4rem;
      }
    }
    .at-10-ndR {
      height: 4.7rem;
      cursor: pointer;
      position: relative;
      background-color: #f7962d;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-bottom: 1.5rem;
      width: 100%;

      .at-1-rNP {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        line-height: 1.2102272851;
        width: 30.8rem;
        height: 3.4rem;
        left: 1.4rem;
        top: 0.6rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        justify-content: center;
        font-weight: 400;
      }
      .vector-L2f {
        left: 29.3rem;
        top: 1.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.3rem;
        height: 2.0441rem;
        position: absolute;
      }
    }
    .at-11-GS7 {
      margin-bottom: 1.5rem;
      width: 100%;
      height: 4.7rem;
      cursor: pointer;
      position: relative;
      background-color: #f7962d;
      border-radius: 1.5rem;
      flex-shrink: 0;

      .at-1-RK1 {
        height: 3.4rem;
        position: absolute;
        left: 1.4rem;
        top: 0.6rem;
        display: flex;
        justify-content: center;
        font-weight: 400;
        width: 30.8rem;
        color: #ffffff;
        line-height: 1.2102272851;
        font-size: 1.4rem;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
      }
      .vector-LRy {
        width: 1.3rem;
        height: 2.0441rem;
        position: absolute;
        left: 29.3rem;
        top: 1.3rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .at-12-Szo {
      height: 4.7rem;
      cursor: pointer;
      position: relative;
      background-color: #f7962d;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-bottom: 1.5rem;
      width: 100%;

      .at-1-ar7 {
        position: absolute;
        align-items: center;
        font-weight: 400;
        line-height: 1.2102272851;
        height: 3.4rem;
        left: 1.4rem;
        top: 0.6rem;
        display: flex;
        justify-content: center;
        font-size: 1.4rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 30.8rem;
      }
      .vector-hQw {
        left: 29.3rem;
        top: 1.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.3rem;
        height: 2.0441rem;
        position: absolute;
      }
    }
    .at-18-EQs {
      margin-bottom: 1.5rem;
      width: 100%;
      height: 4.7rem;
      cursor: pointer;
      position: relative;
      background-color: #f7962d;
      border-radius: 1.5rem;
      flex-shrink: 0;

      .at-1-Bqu {
        width: 30.8rem;
        top: 0.6rem;
        justify-content: center;
        font-weight: 400;
        line-height: 1.2102272851;
        height: 3.4rem;
        position: absolute;
        left: 1.4rem;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .vector-5wH {
        left: 29.3rem;
        top: 1.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.3rem;
        height: 2.0441rem;
        position: absolute;
      }
    }
    .at-19-cAX {
      width: 100%;
      height: 4.7rem;
      background-color: #f7962d;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-bottom: 1.3rem;
      box-sizing: border-box;
      padding: 0.6rem 1.2rem 0.7rem 2.7rem;

      .at-1-Y4B {
        display: flex;
        align-items: center;
        line-height: 1.2102272851;
        font-weight: 400;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        max-width: 28.3rem;
        justify-content: center;
        font-size: 1.4rem;
      }
    }
    .at-20-drK {
      width: 100%;
      height: 5.1rem;
      cursor: pointer;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 1.3rem;

      .rectangle-1-b2T {
        left: 0;
        top: 0.2rem;
        background-color: #f7962d;
        border-radius: 1.5rem;
        width: 32.2rem;
        height: 4.7rem;
        position: absolute;
      }
      .at-1-i75 {
        position: absolute;
        left: 2.7rem;
        top: 0;
        align-items: center;
        justify-content: center;
        width: 28.3rem;
        height: 5.1rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .vector-qSb {
        position: absolute;
        left: 29.3rem;
        top: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.3rem;
        height: 2.0441rem;
      }
    }
    .at-21-nMq {
      position: relative;
      background-color: #f7962d;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-bottom: 1.5rem;
      width: 100%;
      height: 5.8rem;
      cursor: pointer;

      .at-1-jXy {
        color: #ffffff;
        height: 5.1rem;
        position: absolute;
        left: 1.9rem;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        width: 29.8rem;
        top: 0.3rem;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
      }
      .vector-SSP {
        top: 1.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.3rem;
        height: 2.0441rem;
        position: absolute;
        left: 29.3rem;
      }
    }
    .at-13-XTq {
      width: 100%;
      height: 4.7rem;
      cursor: pointer;
      position: relative;
      background-color: #f7962d;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-bottom: 1.3rem;

      .at-1-Fud {
        justify-content: center;
        font-weight: 400;
        color: #ffffff;
        width: 30.8rem;
        position: absolute;
        left: 1.4rem;
        display: flex;
        line-height: 1.2102272851;
        font-family: Inter, 'Source Sans Pro';
        height: 3.4rem;
        top: 0.6rem;
        align-items: center;
        font-size: 1.4rem;
      }
      .vector-xZ9 {
        vertical-align: top;
        width: 1.3rem;
        height: 2.0441rem;
        position: absolute;
        left: 29.3rem;
        top: 1.3rem;
        object-fit: contain;
      }
    }
    .at-14-reX {
      cursor: pointer;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 1.5rem;
      width: 100%;
      height: 6.4rem;

      .rectangle-1-cNo {
        position: absolute;
        left: 0;
        top: 0.251rem;
        background-color: #f7962d;
        border-radius: 1.5rem;
        width: 32.2rem;
        height: 5.898rem;
      }
      .at-1-kju {
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        position: absolute;
        left: 1.4rem;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        color: #ffffff;
        width: 30.8rem;
        height: 6.4rem;
        top: 0;
      }
      .vector-fM5 {
        top: 1.8823rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.3rem;
        height: 2.5651rem;
        position: absolute;
        left: 29.3rem;
      }
    }
    .at-15-nRh {
      width: 100%;
      height: 4.7rem;
      cursor: pointer;
      position: relative;
      background-color: #f7962d;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-bottom: 1.5rem;

      .at-1-vH1 {
        position: absolute;
        left: 1.4rem;
        top: 0.6rem;
        font-weight: 400;
        color: #ffffff;
        height: 3.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        line-height: 1.2102272851;
        font-family: Inter, 'Source Sans Pro';
        width: 30.8rem;
      }
      .vector-qum {
        top: 1.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.3rem;
        height: 2.0441rem;
        position: absolute;
        left: 29.3rem;
      }
    }
    .at-16-wxo {
      cursor: pointer;
      position: relative;
      background-color: #f7962d;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-bottom: 1.5rem;
      width: 100%;
      height: 4.7rem;

      .at-1-uPq {
        justify-content: center;
        font-weight: 400;
        width: 30.8rem;
        height: 3.4rem;
        left: 1.4rem;
        display: flex;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        top: 0.6rem;
        align-items: center;
        font-size: 1.4rem;
      }
      .vector-Rd5 {
        object-fit: contain;
        vertical-align: top;
        width: 1.3rem;
        height: 2.0441rem;
        position: absolute;
        left: 29.3rem;
        top: 1.3rem;
      }
    }
    .at-17-Aaf {
      flex-shrink: 0;
      width: 100%;
      height: 4.7rem;
      cursor: pointer;
      position: relative;
      background-color: #f7962d;
      border-radius: 1.5rem;

      .at-1-i6P {
        height: 3.4rem;
        position: absolute;
        top: 0.6rem;
        justify-content: center;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 30.8rem;
        left: 1.4rem;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
      }
      .vector-CGT {
        height: 2.0441rem;
        position: absolute;
        left: 29.3rem;
        top: 1.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.3rem;
      }
    }
  }
}
