
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-4-tera-3-tKM {
  padding-top: 1.7rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);

  .auto-group-a1nk-ox7 {
    flex-shrink: 0;
    margin: 0rem 2.6rem 0.1rem 2.7rem;
    width: calc(100% - 5.3rem);
    display: flex;
    align-items: center;

    .back-wHd {
      flex-shrink: 0;
      margin: 0.044rem 1.5rem 0rem 0rem;
      width: 1.3rem;
      height: 2.0441rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
    }
    .programao-F3R {
      color: #f7962d;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 29.4rem;
      display: flex;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2102272511;
    }
  }
  .line-1-NNw {
    flex-shrink: 0;
    width: 100%;
    height: 0.3rem;
    background-color: #f7962d;
  }
  .auto-group-akp1-jDV {
    row-gap: 1.7rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 2.6rem 35rem 2.7rem;
    width: 100%;

    .group-1-FSj {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .relogio-1-Q4j {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-1-8mR {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
    }
    .group-4-qQw {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      width: 100%;

      .pessoa-1-14X {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
      }
      .at-3-77Z {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
      }
    }
    .group-5-etB {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-aG3 {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-XSB {
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-3-zqZ {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-wko {
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
      }
      .at-3-hV5 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 29.4rem;
        display: flex;
      }
    }
  }
}
