
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-4-tera-7-T63 {
  box-sizing: border-box;
  padding-top: 1.3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-items: center;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);

  .auto-group-o73h-BXq {
    margin: 0rem 1.2rem 0.5rem 2.7rem;
    width: calc(100% - 3.9rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .back-vEX {
      margin: 0.844rem 1.5rem 0rem 0rem;
      width: 1.3rem;
      height: 2.0441rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .programao-2oM {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2102272511;
      color: #f7962d;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 30.8rem;
      display: flex;
    }
  }
  .line-1-xwu {
    flex-shrink: 0;
    width: 100%;
    height: 0.3rem;
    background-color: #f7962d;
  }
  .auto-group-pzsm-iw5 {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 2.6rem 35.9rem 2.7rem;
    width: 100%;
    row-gap: 1.7rem;
    align-items: center;
    display: flex;

    .group-1-bjy {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      width: 100%;

      .relogio-1-mPZ {
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .at-1-6Rq {
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
      }
    }
    .group-2-SVh {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .silhueta-do-grupo-de-usuarios-1-or3 {
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .at-2-LLB {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
      }
    }
    .group-7-4X5 {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-2Tu {
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
      }
      .at-3-aEX {
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-4-819 {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-Hud {
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
      }
      .at-3-adq {
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 29.4rem;
        display: flex;
        font-size: 1.4rem;
      }
    }
    .group-5-gwm {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      width: 100%;

      .pessoa-1-Thd {
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .at-3-Qsm {
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-6-mCX {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-8Hy {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
      }
      .at-3-Guy {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
      }
    }
    .group-3-of1 {
      align-items: flex-start;
      flex-shrink: 0;
      width: 100%;
      display: flex;

      .pessoa-1-Ni7 {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
      }
      .at-3-VXq {
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 29.4rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
  }
}
