
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-4-tera-8-pZR {
  box-sizing: border-box;
  padding-top: 0.4rem;
  width: 100%;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
  flex-direction: column;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;

  .auto-group-eo6t-Xyd {
    flex-shrink: 0;
    margin: 0rem 0.7rem 0rem 2.7rem;
    width: calc(100% - 3.4rem);
    display: flex;
    align-items: center;

    .back-2Qb {
      margin: 1.244rem 0.8rem 0rem 0rem;
      width: 1.3rem;
      height: 2.0441rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .programao-xJF {
      display: flex;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2102272034;
      color: #f7962d;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 32rem;
    }
  }
  .line-1-HLX {
    width: 100%;
    height: 0.3rem;
    background-color: #f7962d;
    flex-shrink: 0;
  }
  .auto-group-bvv5-F2T {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 2.6rem 1.9rem 2.7rem;
    width: 100%;
    row-gap: 1.7rem;
    align-items: center;
    display: flex;

    .group-1-N75 {
      flex-shrink: 0;
      width: 100%;
      display: flex;
      align-items: flex-start;

      .relogio-1-WUB {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-1-E9H {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .group-2-P2B {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .silhueta-do-grupo-de-usuarios-1-MDu {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
      }
      .at-2-U3d {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
      }
    }
    .group-7-259 {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-wxo {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-6ao {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .group-4-TAT {
      align-items: flex-start;
      flex-shrink: 0;
      width: 100%;
      display: flex;

      .pessoa-1-DvK {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
      }
      .at-3-9oy {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
    }
    .group-5-i6P {
      flex-shrink: 0;
      width: 100%;
      display: flex;
      align-items: flex-start;

      .pessoa-1-qRu {
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .at-3-nc3 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
    }
    .group-6-LdZ {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-JqH {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-rro {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .group-3-oGF {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-XT9 {
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
      }
      .at-3-fpF {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 29.4rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
      }
    }
  }
}
