
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-1-sbado-16-BY7 {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
  padding-top: 1.7rem;
  align-items: center;
  display: flex;

  .auto-group-tcf5-vVh {
    margin: 0rem 2.6rem 0.1rem 2.7rem;
    width: calc(100% - 5.3rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .back-467 {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.044rem 1.5rem 0rem 0rem;
      width: 1.3rem;
      height: 2.0441rem;
      object-fit: contain;
    }
    .programao-b63 {
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 29.4rem;
      display: flex;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2102272511;
      color: #f7962d;
    }
  }
  .line-1-h95 {
    flex-shrink: 0;
    width: 100%;
    height: 0.3rem;
    background-color: #f7962d;
  }
  .auto-group-skqp-doR {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 2.6rem 47.8rem 2.7rem;
    width: 100%;
    row-gap: 1.7rem;
    align-items: center;
    display: flex;

    .group-1-kt3 {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .relogio-1-8EP {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-1-q8o {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
      }
    }
    .group-8-xjD {
      align-items: flex-start;
      flex-shrink: 0;
      width: 100%;
      display: flex;

      .relogio-1-8dh {
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
      }
      .at-1-4nF {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
      }
    }
    .group-9-1xP {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .relogio-1-kuy {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-1-7Vd {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
      }
    }
    .group-3-sDu {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-38P {
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
      }
      .at-3-ATu {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
    }
    .group-4-iVR {
      align-items: flex-start;
      flex-shrink: 0;
      width: 100%;
      display: flex;

      .pessoa-1-s7R {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-C9h {
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-7-kS7 {
      flex-shrink: 0;
      width: 100%;
      display: flex;
      align-items: flex-start;

      .pessoa-1-KVD {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-F7y {
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 29.4rem;
        display: flex;
        font-size: 1.4rem;
      }
    }
  }
}
