
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-1-sbado-13-u55 {
  flex-direction: column;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
  box-sizing: border-box;
  padding-top: 3.2rem;
  position: relative;
  align-items: center;
  display: flex;
  width: 100%;
  overflow: hidden;

  .auto-group-jx3y-2fV {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 2.6rem 1.5rem 2.7rem;
    width: calc(100% - 5.3rem);
    display: flex;

    .back-ZQX {
      width: 1.3rem;
      height: 2.0441rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.5rem 0.056rem 0rem;
    }
    .programao-U1h {
      color: #f7962d;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2102272511;
    }
  }
  .line-1-1GX {
    flex-shrink: 0;
    width: 100%;
    height: 0.3rem;
    background-color: #f7962d;
  }
  .auto-group-bbpx-N75 {
    width: 100%;
    row-gap: 1.7rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 2.6rem 2.2rem 2.7rem;

    .group-1-g7m {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .relogio-1-FAs {
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
      }
      .at-1-zPM {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
    }
    .group-8-sT9 {
      align-items: flex-start;
      flex-shrink: 0;
      width: 100%;
      display: flex;

      .relogio-1-SWF {
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
      }
      .at-1-PgP {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .group-9-9Qf {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      width: 100%;

      .relogio-1-hwy {
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
      }
      .at-1-FyV {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .group-10-bGf {
      align-items: flex-start;
      flex-shrink: 0;
      width: 100%;
      display: flex;

      .relogio-1-ZUP {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
      }
      .at-1-WPd {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
      }
    }
    .group-2-qB1 {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .silhueta-do-grupo-de-usuarios-1-oNj {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-2-VWT {
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-3-pHq {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-uKH {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
      }
      .at-3-rEX {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
      }
    }
    .group-4-n8B {
      align-items: flex-start;
      flex-shrink: 0;
      width: 100%;
      display: flex;

      .pessoa-1-x2f {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
      }
      .at-3-6Pm {
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
      }
    }
    .group-5-DjH {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-b5d {
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .at-3-YFm {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
      }
    }
    .group-6-Vgo {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-4ju {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-bE3 {
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-7-uEj {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      width: 100%;

      .pessoa-1-fzb {
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
      }
      .at-3-psV {
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 29.4rem;
      }
    }
  }
}
