
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-1-sbado-7-rWf {
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);

  .auto-group-ksmu-axT {
    width: calc(100% - 5.3rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 2.6rem 1.5rem 2.7rem;

    .back-iYs {
      margin: 0rem 1.5rem 0.056rem 0rem;
      width: 1.3rem;
      height: 2.0441rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .programao-3r3 {
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2102272511;
      color: #f7962d;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .line-1-mGF {
    width: 100%;
    height: 0.3rem;
    background-color: #f7962d;
    flex-shrink: 0;
  }
  .auto-group-bbnb-WUj {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 2.6rem 31.9rem 2.7rem;
    width: 100%;

    .group-1-zuh {
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .relogio-1-N19 {
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
      }
      .at-1-hZD {
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-4-Smh {
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;

      .pessoa-1-Cks {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-kXV {
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .group-5-gR9 {
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-drB {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-zAw {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
    }
    .group-6-YCT {
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;
      align-items: flex-start;

      .pessoa-1-HA3 {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-ELB {
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-7-W2o {
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;

      .pessoa-1-fRV {
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
      }
      .at-3-R9m {
        max-width: 29.4rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .at-17-xQb {
      font-size: 1.4rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      border-radius: 1.9rem;
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      font-weight: 400;
      line-height: 1.2102272851;
      white-space: nowrap;
      align-items: center;
      background-color: #f7962d;
      justify-content: center;
      width: 100%;
      height: 2.5rem;
      cursor: pointer;
      display: flex;
    }
    .at-18-3gw {
      height: 2.5rem;
      font-weight: 400;
      line-height: 1.2102272851;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      color: #ffffff;
      justify-content: center;
      width: 100%;
      align-items: center;
      background-color: #f7962d;
      border-radius: 1.9rem;
      cursor: pointer;
      font-size: 1.4rem;
      white-space: nowrap;
    }
  }
}
