
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-1-sbado-5-ftX {
  padding-top: 3.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
  width: 100%;

  .auto-group-onxs-QLK {
    margin: 0rem 2.6rem 1.5rem 2.7rem;
    width: calc(100% - 5.3rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .back-KTH {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.5rem 0.056rem 0rem;
      width: 1.3rem;
      height: 2.0441rem;
      cursor: pointer;
    }
    .programao-rTD {
      font-weight: 400;
      line-height: 1.2102272511;
      color: #f7962d;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 2.4rem;
    }
  }
  .line-1-AD1 {
    width: 100%;
    height: 0.3rem;
    background-color: #f7962d;
    flex-shrink: 0;
  }
  .auto-group-ogtm-iEX {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 2.6rem 25.3rem 2.7rem;
    width: 100%;
    row-gap: 1.7rem;
    align-items: center;

    .group-1-Rud {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .relogio-1-Q7M {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
      }
      .at-1-JCj {
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .group-2-F7y {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .silhueta-do-grupo-de-usuarios-1-179 {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-2-iXM {
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-3-wQ7 {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-TNT {
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
      }
      .at-3-A1y {
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-4-WLj {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-5Pq {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-Rib {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
      }
    }
    .group-5-MMM {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-87D {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
      }
      .at-3-3jy {
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-6-X9M {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-UKV {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
      }
      .at-3-cwV {
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-7-yX9 {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-kH1 {
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
      }
      .at-3-scX {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 29.4rem;
        display: flex;
      }
    }
  }
}
