
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-5-quarta-2-EAF {
  position: relative;
  display: flex;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  padding-top: 1.2rem;
  align-items: center;
  flex-direction: column;

  .auto-group-6yd1-AJo {
    margin: 0rem 2.6rem 0.7rem 2.7rem;
    width: calc(100% - 5.3rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .back-FLF {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 1.144rem 1.5rem 0rem 0rem;
      width: 1.3rem;
      height: 2.0441rem;
    }
    .programao-PBZ {
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 29.4rem;
      display: flex;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2102272511;
      color: #f7962d;
    }
  }
  .line-1-uQo {
    height: 0.3rem;
    background-color: #f7962d;
    flex-shrink: 0;
    width: 100%;
  }
  .auto-group-n3zm-s6j {
    box-sizing: border-box;
    padding: 1.4rem 2.6rem 2.2rem 2.2rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .group-1-Pqm {
      margin: 0rem 0rem 1.7rem 0.5rem;
      width: calc(100% - 0.5rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .relogio-1-i7M {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-1-2dq {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
    }
    .group-4-Azw {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 0rem 1.7rem 0.5rem;
      width: calc(100% - 0.5rem);
      display: flex;

      .silhueta-do-grupo-de-usuarios-1-Wou {
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
      }
      .at-2-FWb {
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
      }
    }
    .group-5-aHy {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 0rem 1.7rem 0.5rem;
      width: calc(100% - 0.5rem);

      .silhueta-do-grupo-de-usuarios-1-7Yo {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-2-2fm {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
    }
    .group-7-A1H {
      width: calc(100% - 0.5rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 0rem 1.7rem 0.5rem;

      .silhueta-do-grupo-de-usuarios-1-VpF {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-2-p5q {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .group-6-YXd {
      margin: 0rem 0rem 3.7rem 0.5rem;
      width: calc(100% - 0.5rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .silhueta-do-grupo-de-usuarios-1-VSs {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-2-zuR {
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-3-Yg3 {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-right: 0.7rem;
      width: calc(100% - 0.7rem);

      .pessoa-1-hoq {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.5rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
      }
      .at-3-Eom {
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 29.4rem;
        display: flex;
        font-size: 1.4rem;
      }
    }
  }
}
