
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-4-tera-5-YMZ {
  display: flex;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
  padding-top: 1.7rem;
  width: 100%;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  .auto-group-8611-fBH {
    margin: 0rem 2.6rem 0.1rem 2.7rem;
    width: calc(100% - 5.3rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .back-zUT {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.044rem 1.5rem 0rem 0rem;
      width: 1.3rem;
      height: 2.0441rem;
      cursor: pointer;
      object-fit: contain;
    }
    .programao-8Km {
      line-height: 1.2102272511;
      color: #f7962d;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 29.4rem;
      display: flex;
      font-size: 2.4rem;
      font-weight: 400;
    }
  }
  .line-1-rmZ {
    width: 100%;
    height: 0.3rem;
    background-color: #f7962d;
    flex-shrink: 0;
  }
  .auto-group-oawm-CKd {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 2.6rem 1.6rem 2.7rem;
    width: 100%;
    align-items: center;
    display: flex;

    .group-1-j4f {
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;

      .relogio-1-sRm {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
      }
      .at-1-cPM {
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-2-Lq9 {
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .silhueta-do-grupo-de-usuarios-1-WDq {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-2-eL3 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
      }
    }
    .group-3-aUb {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 1.7rem;

      .pessoa-1-hJK {
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .at-3-rBD {
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-4-CVy {
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-ABu {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-7N3 {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .group-5-s6K {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 3.1rem;
      width: 100%;

      .pessoa-1-NHy {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-u31 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
      }
    }
    .group-7-Rn3 {
      flex-shrink: 0;
      margin-bottom: 4.1rem;
      width: 100%;
      display: flex;
      align-items: flex-start;

      .pessoa-1-zKM {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
      }
      .at-3-Xq5 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 29.4rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
      }
    }
    .at-17-gCB {
      color: #ffffff;
      align-items: center;
      background-color: #f7962d;
      width: 100%;
      height: 2.5rem;
      cursor: pointer;
      display: flex;
      font-weight: 400;
      white-space: nowrap;
      border-radius: 1.9rem;
      font-size: 1.4rem;
      line-height: 1.2102272851;
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      flex-shrink: 0;
    }
  }
}
