
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-4-tera-2-its {
  align-items: center;
  flex-direction: column;
  padding-top: 1.7rem;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
  box-sizing: border-box;
  position: relative;
  display: flex;

  .auto-group-wuxj-S4B {
    width: calc(100% - 5.3rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 2.6rem 0.1rem 2.7rem;

    .back-kqZ {
      flex-shrink: 0;
      margin: 0.419rem 1.5rem 0rem 0rem;
      width: 1.3rem;
      height: 2.127rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
    }
    .programao-gjD {
      max-width: 29.4rem;
      display: flex;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2102272511;
      color: #f7962d;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
  .line-1-QQK {
    width: 100%;
    height: 0.3rem;
    background-color: #f7962d;
    flex-shrink: 0;
  }
  .auto-group-jncj-ZY7 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 2.6rem 2.7rem 2.7rem;
    width: 100%;
    align-items: center;

    .group-1-qVd {
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .relogio-1-oBZ {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-1-XtF {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .group-2-shD {
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .silhueta-do-grupo-de-usuarios-1-npB {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-2-87M {
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
      }
    }
    .group-7-ERH {
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-nSo {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-w4o {
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
      }
    }
    .group-4-3tX {
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;

      .pessoa-1-p8b {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-knw {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
      }
    }
    .group-5-t8T {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 100%;

      .pessoa-1-r5H {
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
      }
      .at-3-CQ3 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
      }
    }
    .group-6-j95 {
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 2.5rem;
      width: 100%;
      display: flex;

      .pessoa-1-tXm {
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .at-3-ErX {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .group-3-aQb {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-YcK {
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
      }
      .at-3-G2X {
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 29.4rem;

        .at-3-G2X-sub-0 {
          line-height: 1.2102272851;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 700;
        }
        .at-3-G2X-sub-1 {
        }
        .at-3-G2X-sub-2 {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.2102272851;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .at-3-G2X-sub-3 {
        }
        .at-3-G2X-sub-4 {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.2102272851;
        }
        .at-3-G2X-sub-5 {
        }
      }
    }
  }
}
