
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-2-domingo-4-A4j {
  box-sizing: border-box;
  position: relative;
  align-items: center;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
  padding-top: 1.7rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .auto-group-fpbd-ekb {
    margin: 0rem 2.6rem 0.1rem 2.7rem;
    width: calc(100% - 5.3rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .back-aeF {
      width: 1.3rem;
      height: 2.0441rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.044rem 1.5rem 0rem 0rem;
    }
    .programao-WXu {
      color: #f7962d;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 29.4rem;
      display: flex;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2102272511;
    }
  }
  .line-1-SRZ {
    width: 100%;
    height: 0.3rem;
    background-color: #f7962d;
    flex-shrink: 0;
  }
  .auto-group-avef-bZM {
    padding: 1.4rem 2.6rem 25.5rem 2.7rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .group-1-uK9 {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 1.7rem;

      .relogio-1-KNs {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
      }
      .at-1-Qv7 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
      }
    }
    .group-4-MaT {
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .silhueta-do-grupo-de-usuarios-1-7pX {
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .at-2-TNb {
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .group-8-ay1 {
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;
      align-items: flex-start;

      .pessoa-1-7xw {
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
      }
      .at-3-sBR {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .group-7-Qh9 {
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .silhueta-do-grupo-de-usuarios-1-mnb {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
      }
      .at-2-7bZ {
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-6-GUT {
      margin-bottom: 3.6rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .silhueta-do-grupo-de-usuarios-1-KxX {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
      }
      .at-2-PSb {
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-3-31M {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-kwM {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-WQj {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 29.4rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
      }
    }
  }
}
