
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-3-segunda-12-iZy {
  padding: 2.8rem 0rem 61.8rem 0rem;
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-4jjh-eTd {
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 0.6rem 1.9rem 2.7rem;
    width: calc(100% - 3.3rem);
    display: flex;

    .back-xUK {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.9rem 0.056rem 0rem;
      width: 1.3rem;
      height: 2.0441rem;
      cursor: pointer;
      object-fit: contain;
    }
    .programao-tMy {
      flex-shrink: 0;
      display: flex;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2102272511;
      color: #f7962d;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .line-1-CNf {
    margin-bottom: 1.3rem;
    width: 100%;
    height: 0.3rem;
    background-color: #f7962d;
    flex-shrink: 0;
  }
  .at-3-kQB {
    font-weight: 400;
    line-height: 1.2102272851;
    flex-shrink: 0;
    margin-left: 0.5rem;
    max-width: 32.6rem;
    display: flex;
    font-size: 1.4rem;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
  }
}
