
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-1-sbado-8-no5 {
  align-items: center;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
  position: relative;
  padding-top: 1.7rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .auto-group-husw-jTR {
    margin: 0rem 2.6rem 0.1rem 2.7rem;
    width: calc(100% - 5.3rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .back-sJj {
      vertical-align: top;
      flex-shrink: 0;
      margin: 1.612rem 1.5rem 0rem 0rem;
      width: 1.3rem;
      height: 2.3907rem;
      cursor: pointer;
      object-fit: contain;
    }
    .programao-oiB {
      color: #f7962d;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 29.4rem;
      display: flex;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2102272511;
    }
  }
  .line-1-Juq {
    flex-shrink: 0;
    width: 100%;
    height: 0.3rem;
    background-color: #f7962d;
  }
  .auto-group-ayeb-qum {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 2.3rem 2.5rem 2.7rem;
    width: 100%;

    .group-1-MNK {
      flex-shrink: 0;
      margin: 0rem 0.3rem 1.7rem 0rem;
      width: calc(100% - 0.3rem);
      display: flex;
      align-items: flex-start;

      .relogio-1-td9 {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-1-EBD {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
    }
    .group-4-wrK {
      width: calc(100% - 0.3rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 0.3rem 1.7rem 0rem;

      .pessoa-1-tFm {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-dUF {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
    }
    .group-5-xmR {
      margin: 0rem 0.3rem 1.7rem 0rem;
      width: calc(100% - 0.3rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-Gn7 {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-pYj {
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
      }
    }
    .group-6-AsV {
      margin: 0rem 0.3rem 1.8rem 0rem;
      width: calc(100% - 0.3rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pessoa-1-v5y {
        margin-right: 0.7rem;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .at-3-Sq1 {
        font-weight: 400;
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
      }
    }
    .group-7-Mh5 {
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 3.2rem;
      width: 100%;
      display: flex;

      .pessoa-1-Kdu {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1rem;
        width: 2.1rem;
        height: 2.1rem;
      }
      .at-3-FnT {
        line-height: 1.2102272851;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 29.4rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .at-17-nnP {
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      line-height: 1.2102272851;
      color: #ffffff;
      border-radius: 1.9rem;
      margin-left: 0.3rem;
      width: 32.2rem;
      display: flex;
      font-size: 1.4rem;
      align-items: center;
      background-color: #f7962d;
      flex-shrink: 0;
      height: 2.5rem;
      cursor: pointer;
      white-space: nowrap;
    }
  }
}
