
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.iphone-13-mini-2-XAs {
  flex-direction: column;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-top: 3.2rem;
  width: 100%;

  .fsy-sesso-salvador-sul-zq9 {
    margin: 0rem 0rem 1.5rem 0.1rem;
    display: flex;
    color: #ffffff;
    flex-shrink: 0;
    white-space: nowrap;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2102272511;
    font-family: Inter, 'Source Sans Pro';
  }
  .line-1-dt7 {
    width: 100%;
    height: 0.3rem;
    background-color: #f7962d;
    flex-shrink: 0;
  }
  .auto-group-3omm-mjR {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.2rem 2.6rem 52rem 2.7rem;
    width: 100%;
    row-gap: 3rem;
    align-items: center;
    display: flex;

    .casal-diretor-Auy {
      cursor: pointer;
      position: relative;
      background-color: #f7962d;
      border-radius: 1.5rem;
      flex-shrink: 0;
      width: 100%;
      height: 4.7rem;

      .casal-diretor-Gi7 {
        left: 1.4rem;
        top: 0.9rem;
        display: flex;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 30.8rem;
        height: 2.9rem;
        position: absolute;
        font-size: 2.4rem;
        line-height: 1.2102272511;
        color: #ffffff;
      }
      .vector-ZSK {
        vertical-align: top;
        width: 1.3rem;
        height: 2.0441rem;
        position: absolute;
        left: 29.3rem;
        top: 1.3rem;
        object-fit: contain;
      }
    }
    .consultores-qud {
      height: 4.7rem;
      cursor: pointer;
      position: relative;
      background-color: #f7962d;
      border-radius: 1.5rem;
      flex-shrink: 0;
      width: 100%;

      .consultores-b87 {
        height: 2.9rem;
        position: absolute;
        top: 0.9rem;
        display: flex;
        line-height: 1.2102272511;
        color: #ffffff;
        width: 30.8rem;
        left: 1.4rem;
        font-size: 2.4rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .vector-41h {
        width: 1.3rem;
        height: 2.0441rem;
        position: absolute;
        left: 29.3rem;
        top: 1.3rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .programao-kQK {
      height: 4.7rem;
      cursor: pointer;
      position: relative;
      background-color: #f7962d;
      border-radius: 1.5rem;
      flex-shrink: 0;
      width: 100%;

      .programao-Vsh {
        height: 2.9rem;
        white-space: nowrap;
        left: 1.4rem;
        top: 0.9rem;
        display: flex;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2102272511;
        width: 30.8rem;
        position: absolute;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .vector-1r3 {
        left: 29.3rem;
        top: 1.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.3rem;
        height: 2.0441rem;
        position: absolute;
      }
    }
  }
}
