
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-1-sbado-15-12j {
  box-sizing: border-box;
  padding-top: 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
}
.dia-1-sbado-15-12j .auto-group-zkwd-YHZ {
  margin: 0rem 2.6rem 1.5rem 2.7rem;
  width: calc(100% - 5.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-zkwd-YHZ .back-sqd {
  margin: 0rem 1.5rem 0.056rem 0rem;
  width: 1.3rem;
  height: 2.0441rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-zkwd-YHZ .programao-zQT {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #f7962d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .line-1-TJ3 {
  width: 100%;
  height: 0.3rem;
  background-color: #f7962d;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-z4xk-p8b {
  box-sizing: border-box;
  padding: 1.4rem 2.6rem 39.7rem 2.7rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-z4xk-p8b .group-1-7tP {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-z4xk-p8b .group-1-7tP .relogio-1-54X {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-z4xk-p8b .group-1-7tP .at-1-Qcb {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-z4xk-p8b .group-8-ZEb {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-z4xk-p8b .group-8-ZEb .relogio-1-uZM {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-z4xk-p8b .group-8-ZEb .at-1-f2j {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-z4xk-p8b .group-9-Qm1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-z4xk-p8b .group-9-Qm1 .relogio-1-ZP1 {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-z4xk-p8b .group-9-Qm1 .at-1-uxf {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-z4xk-p8b .group-5-Sxb {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-z4xk-p8b .group-5-Sxb .pessoa-1-o2T {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-z4xk-p8b .group-5-Sxb .at-3-ifD {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-z4xk-p8b .group-7-eom {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-z4xk-p8b .group-7-eom .pessoa-1-bU7 {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-15-12j .auto-group-z4xk-p8b .group-7-eom .at-3-YPM {
  max-width: 29.4rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
