
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-3-segunda-14-X8X {
  box-sizing: border-box;
  padding-top: 2.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
}
.dia-3-segunda-14-X8X .auto-group-phuw-rwV {
  margin: 0rem 0.6rem 1.9rem 2.7rem;
  width: calc(100% - 3.3rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-phuw-rwV .back-PwR {
  margin: 0rem 0.9rem 0.056rem 0rem;
  width: 1.3rem;
  height: 2.0441rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-phuw-rwV .programao-iio {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #f7962d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .line-1-zwD {
  width: 100%;
  height: 0.3rem;
  background-color: #f7962d;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf {
  box-sizing: border-box;
  padding: 1.4rem 1.778rem 46.1rem 2.7rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-1-bRD {
  margin-right: 0.8217rem;
  width: calc(100% - 0.8217rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-1-bRD .relogio-1-viP {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-1-bRD .at-1-GXM {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-4-mj1 {
  margin-right: 0.8217rem;
  width: calc(100% - 0.8217rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-4-mj1 .pessoa-1-vro {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-4-mj1 .at-3-gLB {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-5-ovb {
  margin-right: 0.8217rem;
  width: calc(100% - 0.8217rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-5-ovb .pessoa-1-m6j {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-5-ovb .at-3-WKD {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-7-TVM {
  margin-right: 0.8217rem;
  width: calc(100% - 0.8217rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-7-TVM .pessoa-1-hPh {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-7-TVM .at-3-ScB {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-6-Zwh {
  margin-right: 0.8217rem;
  width: calc(100% - 0.8217rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-6-Zwh .pessoa-1-vnF {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-6-Zwh .at-3-47m {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-3-nJf {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-3-nJf .pessoa-1-9Q7 {
  margin-right: 0.6413rem;
  width: 2.1587rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-14-X8X .auto-group-pzyq-wLf .group-3-nJf .at-3-tsV {
  max-width: 30.2217rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
