
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-2-domingo-12-uFy {
  box-sizing: border-box;
  padding-top: 1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
}
.dia-2-domingo-12-uFy .auto-group-wwbq-qvK {
  margin: 0rem 6.1rem 1rem 2.7rem;
  width: calc(100% - 8.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-wwbq-qvK .back-xV9 {
  margin: 1.644rem 1.5rem 0rem 0rem;
  width: 1.3rem;
  height: 2.0441rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-wwbq-qvK .programao-J3D {
  max-width: 25.9rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #f7962d;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .line-1-2V1 {
  width: 100%;
  height: 0.3rem;
  background-color: #f7962d;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-74gt-nj5 {
  box-sizing: border-box;
  padding: 1.4rem 2.6rem 51.4rem 2.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-74gt-nj5 .group-1-6zf {
  margin-bottom: 1.7rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-74gt-nj5 .group-1-6zf .relogio-1-2dR {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-74gt-nj5 .group-1-6zf .at-1-xGB {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-74gt-nj5 .group-2-stw {
  margin-bottom: 1.8rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-74gt-nj5 .group-2-stw .silhueta-do-grupo-de-usuarios-1-EzP {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-74gt-nj5 .group-2-stw .at-2-BPq {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-74gt-nj5 .group-4-vsD {
  margin-bottom: 1.7rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-74gt-nj5 .group-4-vsD .pessoa-1-4Td {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-74gt-nj5 .group-4-vsD .at-3-z6P {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-74gt-nj5 .group-9-vkj {
  margin-bottom: 1.8rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-74gt-nj5 .group-9-vkj .pessoa-1-VJ3 {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-74gt-nj5 .group-9-vkj .at-3-F2K {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-74gt-nj5 .group-7-yU7 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-74gt-nj5 .group-7-yU7 .pessoa-1-jy5 {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-2-domingo-12-uFy .auto-group-74gt-nj5 .group-7-yU7 .at-3-Gi7 {
  max-width: 29.4rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
