
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-3-segunda-2-maT {
  box-sizing: border-box;
  padding-top: 1.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
}
.dia-3-segunda-2-maT .auto-group-fphm-Uzf {
  margin: 0rem 0.6rem 0.5rem 2.7rem;
  width: calc(100% - 3.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dia-3-segunda-2-maT .auto-group-fphm-Uzf .back-P63 {
  margin: 0.844rem 0.9rem 0rem 0rem;
  width: 1.3rem;
  height: 2.0441rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-2-maT .auto-group-fphm-Uzf .programao-Jio {
  max-width: 32rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #f7962d;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.dia-3-segunda-2-maT .line-1-o9m {
  width: 100%;
  height: 0.3rem;
  background-color: #f7962d;
  flex-shrink: 0;
}
.dia-3-segunda-2-maT .auto-group-g7dm-kqh {
  box-sizing: border-box;
  padding: 1.4rem 2.6rem 40.5rem 2.7rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dia-3-segunda-2-maT .auto-group-g7dm-kqh .group-1-V2b {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-2-maT .auto-group-g7dm-kqh .group-1-V2b .relogio-1-3po {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-2-maT .auto-group-g7dm-kqh .group-1-V2b .at-1-AeX {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-2-maT .auto-group-g7dm-kqh .group-2-uc7 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-2-maT .auto-group-g7dm-kqh .group-2-uc7 .silhueta-do-grupo-de-usuarios-1-eZh {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-2-maT .auto-group-g7dm-kqh .group-2-uc7 .at-2-aiF {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-2-maT .auto-group-g7dm-kqh .group-3-8Dy {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-2-maT .auto-group-g7dm-kqh .group-3-8Dy .pessoa-1-Hcf {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-2-maT .auto-group-g7dm-kqh .group-3-8Dy .at-3-zfV {
  max-width: 29.4rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
