
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-3-segunda-13-azP {
  box-sizing: border-box;
  padding-top: 1.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
}
.dia-3-segunda-13-azP .auto-group-dc5r-JQb {
  margin: 0rem 0.6rem 1rem 2.1rem;
  width: calc(100% - 2.7rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-dc5r-JQb .back-p83 {
  margin: 0rem 1.5rem 0.454rem 0rem;
  width: 1.3rem;
  height: 2.6457rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-dc5r-JQb .programao-M7y {
  max-width: 32rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #f7962d;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .line-1-5Zm {
  width: 100%;
  height: 0.3rem;
  background-color: #f7962d;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT {
  box-sizing: border-box;
  padding: 1.4rem 2.078rem 1.8rem 2.7rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-1-mBh {
  margin-right: 0.5217rem;
  width: calc(100% - 0.5217rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-1-mBh .relogio-1-KU7 {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-1-mBh .at-1-cy1 {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-4-mb1 {
  margin-right: 0.5217rem;
  width: calc(100% - 0.5217rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-4-mb1 .pessoa-1-XaB {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-4-mb1 .at-3-r6f {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-5-a2f {
  margin-right: 0.5217rem;
  width: calc(100% - 0.5217rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-5-a2f .pessoa-1-XCo {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-5-a2f .at-3-F8o {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-7-n8j {
  margin-right: 0.5217rem;
  width: calc(100% - 0.5217rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-7-n8j .pessoa-1-8yH {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-7-n8j .at-3-VJ3 {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-6-CCT {
  margin-right: 0.5217rem;
  width: calc(100% - 0.5217rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-6-CCT .pessoa-1-Y1R {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-6-CCT .at-3-s3h {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-3-R5D {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-3-R5D .pessoa-1-nRZ {
  margin-right: 0.3413rem;
  width: 2.1587rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-3-R5D .at-3-KwH {
  max-width: 30.2217rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-3-R5D .at-3-KwH .at-3-KwH-sub-0 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-3-R5D .at-3-KwH .at-3-KwH-sub-1 {
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-3-R5D .at-3-KwH .at-3-KwH-sub-2 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-3-segunda-13-azP .auto-group-8h6s-ExT .group-3-R5D .at-3-KwH .at-3-KwH-sub-3 {
}
