
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-2-domingo-5-FGX {
  box-sizing: border-box;
  padding-top: 1.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
}
.dia-2-domingo-5-FGX .auto-group-rmyv-Pdd {
  margin: 0rem 2.6rem 0.1rem 2.7rem;
  width: calc(100% - 5.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-rmyv-Pdd .back-3iB {
  margin: 1.452rem 1.5rem 0rem 0rem;
  width: 1.3rem;
  height: 2.3553rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-rmyv-Pdd .programao-nQs {
  max-width: 29.4rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #f7962d;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .line-1-Ju1 {
  width: 100%;
  height: 0.3rem;
  background-color: #f7962d;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o {
  box-sizing: border-box;
  padding: 1.4rem 2rem 1.7rem 2.7rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-1-b7R {
  margin-right: 0.6rem;
  width: calc(100% - 0.6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-1-b7R .relogio-1-wh5 {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-1-b7R .at-1-FSs {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-4-yNs {
  margin-right: 0.6rem;
  width: calc(100% - 0.6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-4-yNs .silhueta-do-grupo-de-usuarios-1-W7u {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-4-yNs .at-2-26F {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-5-NR1 {
  margin-right: 0.6rem;
  width: calc(100% - 0.6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-5-NR1 .silhueta-do-grupo-de-usuarios-1-7tP {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-5-NR1 .at-2-drj {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-8-b2s {
  margin-right: 0.6rem;
  width: calc(100% - 0.6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-8-b2s .pessoa-1-9KH {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-8-b2s .at-3-UMZ {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-6-2P5 {
  margin-left: 0.6rem;
  width: calc(100% - 0.6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-6-2P5 .silhueta-do-grupo-de-usuarios-1-n7M {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-6-2P5 .at-2-GoD {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-3-RRD {
  margin: 0rem 0.7rem 0rem 0.1rem;
  width: calc(100% - 0.8rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-3-RRD .pessoa-1-NLT {
  margin: 0.3rem 0.5rem 0rem 0rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-3-RRD .at-3-HCX {
  max-width: 29.4rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-3-RRD .at-3-HCX .at-3-HCX-sub-0 {
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-3-RRD .at-3-HCX .at-3-HCX-sub-1 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2102272851;
  color: #f7962d;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-3-RRD .at-3-HCX .at-3-HCX-sub-2 {
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-3-RRD .at-3-HCX .at-3-HCX-sub-3 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2102272851;
  color: #f7962d;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-3-RRD .at-3-HCX .at-3-HCX-sub-4 {
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-3-RRD .at-3-HCX .at-3-HCX-sub-5 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-5-FGX .auto-group-atyk-U2o .group-3-RRD .at-3-HCX .at-3-HCX-sub-6 {
}
