
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-2-domingo-1-gpB {
  box-sizing: border-box;
  padding-top: 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
}
.dia-2-domingo-1-gpB .auto-group-ccmz-dDd {
  margin: 0rem 2.6rem 1.5rem 2.7rem;
  width: calc(100% - 5.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-ccmz-dDd .back-iVy {
  margin: 0rem 1.5rem 0.056rem 0rem;
  width: 1.3rem;
  height: 2.0441rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-ccmz-dDd .programao-ePd {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .line-1-P6K {
  width: 100%;
  height: 0.3rem;
  background-color: #f7962d;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 {
  box-sizing: border-box;
  padding: 1.2rem 2.6rem 3.8rem 2.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-0-EMq {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 4.7rem;
  cursor: pointer;
  position: relative;
  background-color: #f7962d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-0-EMq .at-1-xYj {
  width: 30.8rem;
  height: 3.4rem;
  position: absolute;
  left: 1.4rem;
  top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-0-EMq .vector-FGw {
  width: 1.3rem;
  height: 2.0441rem;
  position: absolute;
  left: 29.3rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-1-mm5 {
  margin-bottom: 1rem;
  width: 100%;
  height: 4.7rem;
  cursor: pointer;
  position: relative;
  background-color: #f7962d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-1-mm5 .at-1-85q {
  width: 30.8rem;
  height: 3.4rem;
  position: absolute;
  left: 1.4rem;
  top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-1-mm5 .vector-FAT {
  width: 1.3rem;
  height: 2.0441rem;
  position: absolute;
  left: 29.3rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-2-xKm {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 4.7rem;
  cursor: pointer;
  position: relative;
  background-color: #f7962d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-2-xKm .at-1-4tb {
  width: 30.8rem;
  height: 3.4rem;
  position: absolute;
  left: 1.4rem;
  top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-2-xKm .vector-PR5 {
  width: 1.3rem;
  height: 2.0441rem;
  position: absolute;
  left: 29.3rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-3-76B {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 0.6rem 0.7rem 0.7rem 0.7rem;
  width: 100%;
  height: 4.7rem;
  background-color: #f7962d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-3-76B .at-1-cYj {
  max-width: 30.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-4-w5D {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 4.7rem;
  cursor: pointer;
  position: relative;
  background-color: #f7962d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-4-w5D .at-1-rT5 {
  width: 30.8rem;
  height: 3.4rem;
  position: absolute;
  left: 1.4rem;
  top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-4-w5D .vector-9h5 {
  width: 1.3rem;
  height: 2.0441rem;
  position: absolute;
  left: 29.3rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-5-gh1 {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 4.7rem;
  cursor: pointer;
  position: relative;
  background-color: #f7962d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-5-gh1 .at-1-SgB {
  width: 30.8rem;
  height: 3.4rem;
  position: absolute;
  left: 1.4rem;
  top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-5-gh1 .vector-9qV {
  width: 1.3rem;
  height: 2.0441rem;
  position: absolute;
  left: 29.3rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-6-G9R {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 4.7rem;
  cursor: pointer;
  position: relative;
  background-color: #f7962d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-6-G9R .at-1-cyy {
  width: 30.8rem;
  height: 3.4rem;
  position: absolute;
  left: 1.4rem;
  top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-6-G9R .vector-9DD {
  width: 1.3rem;
  height: 2.0441rem;
  position: absolute;
  left: 29.3rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-7-4qy {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 4.7rem;
  cursor: pointer;
  position: relative;
  background-color: #f7962d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-7-4qy .at-1-2H1 {
  width: 30.8rem;
  height: 3.4rem;
  position: absolute;
  left: 1.4rem;
  top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-7-4qy .vector-JkK {
  width: 1.3rem;
  height: 2.0441rem;
  position: absolute;
  left: 29.3rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-8-qkF {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 4.7rem;
  cursor: pointer;
  position: relative;
  background-color: #f7962d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-8-qkF .at-1-Mib {
  width: 30.8rem;
  height: 3.4rem;
  position: absolute;
  left: 1.4rem;
  top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-8-qkF .vector-H6T {
  width: 1.3rem;
  height: 2.0441rem;
  position: absolute;
  left: 29.3rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-9-Qgs {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 4.7rem;
  cursor: pointer;
  position: relative;
  background-color: #f7962d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-9-Qgs .at-1-jz3 {
  width: 30.8rem;
  height: 3.4rem;
  position: absolute;
  left: 1.4rem;
  top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-9-Qgs .vector-s4f {
  width: 1.3rem;
  height: 2.0441rem;
  position: absolute;
  left: 29.3rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-10-ZCP {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 4.7rem;
  cursor: pointer;
  position: relative;
  background-color: #f7962d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-10-ZCP .at-1-i5H {
  width: 30.8rem;
  height: 3.4rem;
  position: absolute;
  left: 1.4rem;
  top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-10-ZCP .vector-zHh {
  width: 1.3rem;
  height: 2.0441rem;
  position: absolute;
  left: 29.3rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-11-6bd {
  margin-bottom: 1.3rem;
  box-sizing: border-box;
  padding: 0.6rem 0rem 0.7rem 1.4rem;
  width: 100%;
  background-color: #f7962d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-11-6bd .at-1-3Fy {
  max-width: 30.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-12-juV {
  margin-bottom: 1.3rem;
  width: 100%;
  height: 5.1rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-12-juV .rectangle-1-GuR {
  width: 32.2rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  background-color: #f7962d;
  border-radius: 1.5rem;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-12-juV .at-1-1c7 {
  width: 30.8rem;
  height: 5.1rem;
  position: absolute;
  left: 1.4rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-12-juV .vector-vUB {
  width: 1.3rem;
  height: 2.0441rem;
  position: absolute;
  left: 29.3rem;
  top: 1.5rem;
  object-fit: contain;
  vertical-align: top;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-13-kTD {
  margin-bottom: 1.3rem;
  width: 100%;
  height: 4.7rem;
  cursor: pointer;
  position: relative;
  background-color: #f7962d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-13-kTD .at-1-gLs {
  width: 30.8rem;
  height: 3.4rem;
  position: absolute;
  left: 1.4rem;
  top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-13-kTD .vector-Ca7 {
  width: 1.3rem;
  height: 2.0441rem;
  position: absolute;
  left: 29.3rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-14-Y8B {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 6.4rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-14-Y8B .rectangle-1-VZD {
  width: 32.2rem;
  height: 5.898rem;
  position: absolute;
  left: 0;
  top: 0.251rem;
  background-color: #f7962d;
  border-radius: 1.5rem;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-14-Y8B .at-1-Qw5 {
  width: 30.8rem;
  height: 6.4rem;
  position: absolute;
  left: 1.4rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-14-Y8B .vector-Lpj {
  width: 1.3rem;
  height: 2.5651rem;
  position: absolute;
  left: 29.3rem;
  top: 1.8824rem;
  object-fit: contain;
  vertical-align: top;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-15-tbM {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 4.7rem;
  cursor: pointer;
  position: relative;
  background-color: #f7962d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-15-tbM .at-1-pV1 {
  width: 30.8rem;
  height: 1.7rem;
  position: absolute;
  left: 1.4rem;
  top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-15-tbM .vector-HtP {
  width: 1.3rem;
  height: 2.0441rem;
  position: absolute;
  left: 29.3rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-16-naF {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 4.7rem;
  cursor: pointer;
  position: relative;
  background-color: #f7962d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-16-naF .at-1-8u1 {
  width: 30.8rem;
  height: 3.4rem;
  position: absolute;
  left: 1.4rem;
  top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-16-naF .vector-rq1 {
  width: 1.3rem;
  height: 2.0441rem;
  position: absolute;
  left: 29.3rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-17-zgK {
  width: 100%;
  height: 4.7rem;
  cursor: pointer;
  position: relative;
  background-color: #f7962d;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-17-zgK .at-1-MWs {
  width: 30.8rem;
  height: 3.4rem;
  position: absolute;
  left: 1.4rem;
  top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.dia-2-domingo-1-gpB .auto-group-jbeb-YE7 .at-17-zgK .vector-3eb {
  width: 1.3rem;
  height: 2.0441rem;
  position: absolute;
  left: 29.3rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
