
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-1-sbado-9-dYX {
  box-sizing: border-box;
  padding-top: 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
}
.dia-1-sbado-9-dYX .auto-group-2quq-AoM {
  margin: 0rem 2.6rem 1.5rem 2.7rem;
  width: calc(100% - 5.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-2quq-AoM .back-6h1 {
  margin: 0rem 1.5rem 0.056rem 0rem;
  width: 1.3rem;
  height: 2.0441rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-2quq-AoM .programao-QSo {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #f7962d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .line-1-K3y {
  width: 100%;
  height: 0.3rem;
  background-color: #f7962d;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX {
  box-sizing: border-box;
  padding: 1.4rem 2.6rem 40.6rem 2.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .group-1-aEo {
  margin-bottom: 1.7rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .group-1-aEo .relogio-1-KTH {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .group-1-aEo .at-1-ry1 {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .auto-group-d8qq-D2s {
  margin-bottom: 1.7rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .auto-group-d8qq-D2s .pessoa-2-mKH {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .auto-group-d8qq-D2s .at-3-gh9 {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .group-5-1zK {
  margin-bottom: 1.7rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .group-5-1zK .pessoa-1-jvK {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .group-5-1zK .at-3-6F5 {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .auto-group-ttnk-1sq {
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .auto-group-ttnk-1sq .pessoa-1-yZm {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .auto-group-ttnk-1sq .at-3-XbH {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .group-8-TE3 {
  margin-bottom: 2.3rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .group-8-TE3 .pessoa-1-csd {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .group-8-TE3 .at-3-YWP {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .group-7-UQ3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .group-7-UQ3 .pessoa-1-eJX {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-9-dYX .auto-group-5lh1-ftX .group-7-UQ3 .at-3-yLo {
  max-width: 29.4rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
