
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-1-sbado-10-GAo {
  box-sizing: border-box;
  padding-top: 1.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
}
.dia-1-sbado-10-GAo .auto-group-od23-QXu {
  margin: 0rem 2.6rem 0.1rem 2.7rem;
  width: calc(100% - 5.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dia-1-sbado-10-GAo .auto-group-od23-QXu .back-vWF {
  margin: 0rem 1.5rem 0.673rem 0rem;
  width: 1.3rem;
  height: 1.8856rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-10-GAo .auto-group-od23-QXu .programao-reo {
  max-width: 29.4rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #f7962d;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.dia-1-sbado-10-GAo .line-1-v8s {
  width: 100%;
  height: 0.3rem;
  background-color: #f7962d;
  flex-shrink: 0;
}
.dia-1-sbado-10-GAo .auto-group-kkqm-spo {
  box-sizing: border-box;
  padding: 1.4rem 2.6rem 2.7rem 2.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dia-1-sbado-10-GAo .auto-group-kkqm-spo .group-1-1RD {
  margin-bottom: 1.7rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-1-sbado-10-GAo .auto-group-kkqm-spo .group-1-1RD .relogio-1-mfH {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-10-GAo .auto-group-kkqm-spo .group-1-1RD .at-1-Wsm {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-1-sbado-10-GAo .auto-group-kkqm-spo .group-5-fEs {
  margin-bottom: 1.7rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-1-sbado-10-GAo .auto-group-kkqm-spo .group-5-fEs .pessoa-1-2LK {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-10-GAo .auto-group-kkqm-spo .group-5-fEs .at-3-9fq {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-1-sbado-10-GAo .auto-group-kkqm-spo .group-4-hST {
  margin-bottom: 2.6rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-1-sbado-10-GAo .auto-group-kkqm-spo .group-4-hST .pessoa-1-esV {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-10-GAo .auto-group-kkqm-spo .group-4-hST .at-3-mhD {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-1-sbado-10-GAo .auto-group-kkqm-spo .group-7-isM {
  margin-bottom: 3.8rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-1-sbado-10-GAo .auto-group-kkqm-spo .group-7-isM .pessoa-1-gJP {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-1-sbado-10-GAo .auto-group-kkqm-spo .group-7-isM .at-3-QVH {
  max-width: 29.4rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.dia-1-sbado-10-GAo .auto-group-kkqm-spo .at-17-K6T {
  width: 100%;
  height: 2.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #f7962d;
  border-radius: 1.9rem;
  flex-shrink: 0;
}
