
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.dia-3-segunda-5-sHu {
  box-sizing: border-box;
  padding-top: 2.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(165, 19, 255, 0.2399999946) -0%, rgba(180, 3, 99, 0.4600000083) 50%, rgba(196, 106, 0, 0.6499999762) 100%);
}
.dia-3-segunda-5-sHu .auto-group-aucp-QYj {
  margin: 0rem 0.6rem 1.9rem 2.7rem;
  width: calc(100% - 3.3rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-aucp-QYj .back-HcX {
  margin: 0rem 0.9rem 0.056rem 0rem;
  width: 1.3rem;
  height: 2.0441rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-aucp-QYj .programao-12j {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #f7962d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .line-1-iC3 {
  width: 100%;
  height: 0.3rem;
  background-color: #f7962d;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq {
  box-sizing: border-box;
  padding: 1.4rem 2.6rem 8.4rem 2.7rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-1-ydm {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-1-ydm .relogio-1-k8j {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-1-ydm .at-1-HPZ {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-2-qAB {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-2-qAB .silhueta-do-grupo-de-usuarios-1-ynB {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-2-qAB .at-2-vBd {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-7-4Yj {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-7-4Yj .pessoa-1-nzX {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-7-4Yj .at-3-iNP {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-4-eG3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-4-eG3 .pessoa-1-mbZ {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-4-eG3 .at-3-imh {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-5-seb {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-5-seb .pessoa-1-eQT {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-5-seb .at-3-Z1d {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-6-6nF {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-6-6nF .pessoa-1-rWX {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-6-6nF .at-3-QY3 {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-3-m7h {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-3-m7h .pessoa-1-JtK {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .group-3-m7h .at-3-r99 {
  max-width: 29.4rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .at-17-BhD {
  width: 100%;
  height: 2.5rem;
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f7962d;
  border-radius: 1.9rem;
  flex-shrink: 0;
}
.dia-3-segunda-5-sHu .auto-group-epnt-sKq .at-18-3zK {
  width: 100%;
  height: 2.5rem;
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f7962d;
  border-radius: 1.9rem;
  flex-shrink: 0;
}
