
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.iphone-13-mini-1-MLw {
  width: 100%;
  height: 81.2rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.iphone-13-mini-1-MLw .whatsapp-image-2023-09-28-at-0828-1-vHZ {
  width: 41.4rem;
  height: 81.2rem;
  object-fit: cover;
  vertical-align: top;
}
